$main-color: #96D28E;
$bg-gray: #F3F3F3;
$w-gray: #929292;
$font-color: #DBDBDB;
$border-gray: #D9D9D9;
$menu-color: #670205;
$main-red: #FC464E;
$icon-red: #E96D70;
$icon-blue: #2352AB;
$icon-yellow: #F4BD73;
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 640px;
  margin: auto;
  font-size: 13px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  #app {
    max-width: 700px;
    .foot-menu {
      max-width: 700px;
    }
  }
}
