$main-color: #96D28E;
$bg-gray: #F3F3F3;
$w-gray: #929292;
$font-color: #DBDBDB;
$border-gray: #D9D9D9;
$font-menu: #6B0204;
$menu-color: #670205;
$main-red: #FC464E;
$icon-red: #EC6D6E;
$icon-blue: #2352AB;
$icon-yellow: #F4BD73;
$dark-green: rgb(24, 132, 24);
$dark-blue: rgb(22, 25, 104);
$dark-red: rgb(180, 7, 28);
$dark-yellow: rgb(162, 105, 22);
$font-dark: #333333;
$font-gray: #bfbfbf;
