$main-color: #96D28E;
$bg-gray: #F3F3F3;
$w-gray: #929292;
$border-gray: #D9D9D9;
$font-menu: #6B0204;
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 640px;
  margin: auto;
  font-size: 13px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  #app {
    max-width: 700px;
  }
}